body {
display: flex;
flex-direction: column;
height: 100vh;
justify-content: space-evenly;
margin: auto;
text-align: center;
max-width: 42rem;
}

blockquote {
color: var(--ballad-ink-lolight, silver);
font-family: "open sans", sans-serif;
list-style-position: inside;
margin: 0 1.6rem 0 1.6rem;
padding: 1.4rem 0 2rem 0;
}

p {
padding: inherit;
}

blockquote ol{
margin-left: auto;
margin-right: auto;
text-align: left;
width: 85%;
}

blockquote ol li {
margin-bottom: 0.6rem;
}

blockquote ol li p {
display: inline-block;
}

button {
font-family: "open sans", sans-serif;
padding: 1.2rem 3rem 1.2rem 3rem;
width: 50%;
}

input {
font-family: "open sans", sans-serif;
margin-bottom: 12rem;
margin-top: 0.5rem;
padding: 1.2rem 3rem 1.2rem 3rem;
width: 75%;
}

cite {
display: block;
margin: 0.6rem 0 0 1.2rem;
}

details > summary {
text-align: left;
margin: 0.6rem 0 0.6rem 1.2rem;
}

div.dressing span {
display: inline-block;
}
